.nav-wrapper form {
  margin: auto;
  width: 50%;
}

.nav-wrapper .input-field {
  padding-top: 7px;
}

.nav-wrapper form #search {
  height: 50px;
}

.modal-body {
  width: 650px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgrey;
}

.carousel .carousel-item {
    opacity: 1 !important;
    width:300px !important;
}

/* a[disabled="true"] {
    pointer-events: none;
    visibility: hidden;
}
a[disabled="false"] {
    visibility: visible;
} */