textarea.description {
  font: 30px;
  height: 150px;
}

.parallax-container {
  height: 400px;
}

/* .circle {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 300px;
} */

/* .sidenav {
  overflow: hidden;
  margin-top: 90px;
} */
