button {
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.75em;
    display: inline-block;
    text-decoration: none;
}
.commentNodes {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius:  0.25rem;
    margin: 1rem;
    padding: 0.1rem 1.5rem 1rem;
}
.commentForm {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 1rem 1.5rem 1rem;
}
.commentSection {
    color: rgb(68, 68, 68);
    font-weight: "bold";
    background-color: #e08383;
    border-radius: 0.875rem;
    padding: 0.1rem 1rem;
    margin: 1rem
  }